:root {
  --main-bg-color: #0E1111;
  --second-bg-color: #F5D76E;
  --console-bg-color: #323435;
  --secondary-color: #F5D76E;
  --footer-background-color: #151617;
  --table-bg-color: #383832;
}


body{
  background-color: var(--main-bg-color);
  color: white;
}
.all{
   background-color:var(--second-bg-color);
   border: none;
   color: black;
   height: 25px;
   text-align: center;
   font-size: 16px;
   float: right;
   margin: 2px;
}
p{
  padding-left: 10px;
  text-align: left;
}
table{
  width: 1400px;
  height: 700;
  background-color: var(--table-bg-color)
}
pre{
  text-align: left;
  font-family: monospace;
  border: none;
  color:white;
  overflow: hidden;
  background-color: transparent;
}
a{
  color: white;
  text-decoration: underline;
}
.yellow a{
  color: var(--second-bg-color);
  text-decoration: underline;
}
a:hover{
  color: var(--second-bg-color);
  text-decoration: underline;
}
.content {
    font-family: monospace;
    margin-left:15%;
    margin-top:3%;
    min-width: 70%;
    min-height: 70%;
    max-width: 70%;
    max-height: 70%;
    overflow: hidden !important;

}
#console {
    width:100%;
    min-height:600px;
    height:60px;
    background-color: var(--console-bg-color);
    overflow: auto !important;
    padding-right: 15px !important;
    text-align: center;
}

#box{
  width: 30%;
  min-height: 260px;
  height: 260px;
  display: block;
  float: left;
  overflow: scroll;
  margin: 10px;
  background-color: var(--console-bg-color);
  border: 1px solid var(--second-bg-color);
  border-color: var(--second-bg-color);
}

#box:active{
  width: 30%;
  min-height: 250px;
  height: 250px;
  display: block;
  float: left;
  overflow: scroll;
  margin: 10px;
  background-color: var(--second-bg-color);
  border: 1px solid var(--second-bg-color);
  border-color: var(--second-bg-color);
}
#cover{
  color: var(--second-bg-color);
  font-family: monospace;
  text-align: center;
  font-size: 23px;
}

#intro_text{
  color: white;
  font-family: monospace;
  white-space: pre;
  text-align: center;
  font-size: 20px;
}

#box > p{
  padding: none;
  margin: 3px;
  text-align: left;
}
#box > img{
  margin-left: 15px;
  float: left;
}
hr{
   background-color:var(--second-bg-color);
}
#wrapper{
  display: inline-block;
  margin: auto;
  width: 100%;
  padding-left: 6%;
  height: 100%;
  margin-top: 20px;
}
h1{
  text-align: left;
  color: var(--second-bg-color);
  font-family: monospace;
  margin: 10px;
  font-size: 20px;
}

input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.3s; /*they say its for safari :/ safari chalata kon hai?!?*/
  transition: 0.3s;
  outline: none;
}

.“c_color”{
  color: var(--second-bg-color);
}
.foot{
  padding-left: 10px;
  text-align: center;
}
.golden{
  color: var(--second-bg-color);
}

.cname{
  display: inline-block;
  margin-left: 5px;
  color: var(--second-bg-color);
  text-align: left;

}

.hcname{
  display: block;
  margin-left: 5px;
  color: var(--second-bg-color);
  text-align: left;
}

img{
  display: block;
      margin-left: auto;
      margin-right: auto;
      z-index: 1;
}

.commands{
  width:100%;
  /*transform: translate(-50%,1000%);*/
  background-color: var(--console-bg-color);
  color:white;
  border: none;
}

.commands:focus{
  width:100%;
  background-color: var(--console-bg-color);
  /* background-color: #575a5c; */
  color:white;
  border:1px solid;
  border-color: var(--second-bg-color);
}
/*scroll bars kekekekekekekk*/
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--console-bg-color);
    border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
    background:var(--table-bg-color);
}
.footer {
  font-family: monospace;
  padding-top: 4px;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   max-height: 30px;
   background-color: var(--footer-background-color);
   color:white;
   text-align: center;
}
::-webkit-scrollbar {
display: none;
}
#ascii{
  font-family: Courier !important;
  white-space: pre;
}
.input-box { position: relative; }

input { display: block; border: 1px solid #d7d6d6; background: #fff; padding: 10px 10px 10px 20px; width: 195px; }

.unit { position: absolute; display: block; left: 5px; top: 10px; z-index: 9; color: white;}
